{% extends 'BloggerAdminBundle::layout.html.twig' %}

{% block body %}
    <h2>Edit the Category id: {{ catId }}</h2>
    {{ render(controller('BloggerAdminBundle:Category:edit', {'catId': catId})) }}
{% endblock %}