{% extends 'BloggerAdminBundle::layout.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('blogger-notice') %}
        <div class="blogger-notice">
            {{ flashMessage  }}
        </div>
    {% endfor %}
    <h2>Edit the Category id: {{ catId }}</h2>
    {{ render(controller('BloggerAdminBundle:Category:edit', {'catId': catId})) }}
{% endblock %}