{# src/Blogger/BlogBundle/Resources/views/Page/tag.html.twig #}
{% extends 'BloggerBlogBundle::Page/index.html.twig' %}

{% block body %}
    <h1>Postss on tag "{{ tag.name }}"</h1>
    {{ parent(pagination) }}
{% endblock %}