{% extends 'BloggerAdminBundle::layout.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('blogger-notice') %}
        <div class="blogger-notice">
            {{ flashMessage  }}
        </div>
    {% endfor %}
    <h2>Add new Tag:</h2>
    {{ render(controller('BloggerAdminBundle:Tag:new')) }}
{% endblock %}