{% extends 'BloggerAdminBundle::layout.html.twig' %}

{% block body %}
    <h2>Edit the Blog id: {{ blogId }}</h2>
    {{ render(controller('BloggerAdminBundle:Blog:edit', {'blogId': blogId})) }}
{% endblock %}